<div class="error">

    <h1>{{ title }} </h1>

    <h2>Hibaüzenet:
        <mark> {{ status_code }} {{ status_text }} </mark>
    </h2>

    <img class="error" src="http://static2.fjcdn.com/comments/5256638+_712203b4096a3d824d04cf7580b8fbc1.png"
         alt="::arrogant::" title="arrogant">

</div>